@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: black;
    --text-color: white;
    --accent-color: hsl(34, 100%, 80%);
    --accent-color-2: hsl(0, 0%, 44%);
    --accent-color-3: hsl(262, 29%, 83%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}
html {
    height: 100vh;
}
body {
    background-color: var(--bg);
    height: 100%;
}

a {
    all: unset;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    width: 100vw;
    height: 85%;
}

@media (max-width: 850) {
    main {
        padding-top: 5rem;
    }
}
