---
import BaseLayout from '../layouts/Base.astro';

const pageTitle = 'About'
---

<BaseLayout title= { pageTitle }>
    <div>
        <h1>LEXIS - Vision of the OGs</h1>
        <p>As a child is born, one of the first few things he hears from his mother's lips are lullabies that put him to sleep. She gets a little older and now it's the grandparents narrating stories. Stories of Kings and Queens, angels and demons, wish-granting djinns and soldiers fighting in space. We don't read and write poems and stories because it's cute. We do so because we are members of the human race and the human race is filled with passion. </p>

        <p>And what better way to celebrate this passion than to have a festival! A Literary Festival. So that's precisely what we're going to do. A weekend-long revelry to welcome the fresh faces coming to our institute. And to remind them that medicine, law, business, engineering, these are noble pursuits and necessary to sustain life. But poetry, beauty, romance, love, these are what we stay alive for. </p>

        <p>This will be a weekend unlike anything IISERK has seen before. Chock full of good old-fashioned debates, quizzes and panel discussions for the ones with a little more traditional taste. And for the ones who are a little more adventurous, we will have a literary triathlon and board game night. And for the economists who look at anything and ask what do we gain, we have workshops and illuminating talks! And don't forget the Open Mic! Considering past experiences, that's definitely something to look forward to. So rest assured we have something for everyone. And we're not using that just as a platitude. </p>

        <p> So come one and come all to join us in this fantastic celebration of being alive and be reminded of something so simple you never even realized you'd forgotten it - the joy of exploring! </p>
    </div>
</BaseLayout>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        padding: 1rem;
        margin-top: 20rem;
    }
    @media (min-width: 850px) {
        div {
            width: 70%;
            justify-content: flex-start;
            margin-top: 0;
        }
        
    }
</style>
