---
import BaseLayout from '../layouts/Base.astro';

const pageTitle = 'About'
---

<BaseLayout title= { pageTitle }>
    <div>
        <h1>About Lexis</h1>
    <p>Welcome to LEXIS, IISER Kolkata's annual celebration of the written and spoken word. Since its inception in 2018, LEXIS has grown into a vibrant platform for showcasing the literary talents of our diverse student community. After a brief hiatus, it made a triumphant return in 2022, captivating audiences with its dynamic events and creative energy, all on a modest budget.
    </p>
    <p>Each year, LEXIS brings together literature enthusiasts from across the campus, providing them with a space to explore and express the power of language. We are excited to continue this tradition, inspiring new voices and perspectives in a fest that celebrates the art of storytelling, poetry, debate, and more.
    </p>
    <p>More than just a fest, LEXIS is about building a community that values the art of language in its myriad forms. It’s a place where students can explore, create, and engage with ideas that resonate beyond the written page. Through the different events we host, we aim to provide everyone an opportunity to find their voice and share it with a larger audience.</p>
    <p>Join us in discovering the beauty of expression, as LEXIS promises to engage, entertain, and inspire.
    </p>
</div>
</BaseLayout>

<style>
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        padding: 1rem;
        margin-top: 20rem;
    }
    p {
        width: 100%;
    }
    @media (min-width: 850px) {
        div {
            max-width: 85ch;
            justify-content: flex-start;
            margin-top: 0;
        }
        
    }
</style>
