---
import BaseLayout from '../layouts/Base.astro';

const pageTitle = 'Home'
---

<BaseLayout title= { pageTitle }>
    <div>
        <img src="logo_color.png">
        <h2> The Literary Fest of IISER Kolkata </h2>
        <h3> 30th - 32nd February </h3>
        <a class="gradient-border" href="/events">Learn More</a>
    </div>
</BaseLayout>

<style>
    div {
        <!-- width: 100%; -->
        height: 80%;
        text-align: center;
    }
    img {
        max-width: 80vw;
        max-height: 80vh;
    }

    a {
        display: inline-block;
        height: 3rem;
        background: rgba(255, 255, 255, 0.05);
        font-size: 2rem;
        padding: 1rem;
        margin-top: 1rem;
        /* border: 10px solid var(--accent-color); */
    }

    @media (min-width: 850px) {
        h2 {
            margin-top: -8rem;
        }

        a {
            border: none;
        }

        a:hover {
            color: var(--bg);
            background-color: var(--accent-color);
            box-shadow: 0 0 5px var(--accent-color), 0 0 20px var(--accent-color), 0 0 40px var(--accent-color);
            transition: 100ms ease-in-out;
        }
    }
</style>
