---
interface Props {
    active: string;
}

const { active } = Astro.props;
---
<a href="/">
    <img src="/favicon.svg" alt="Lexis Logo">
</a>
<button><i class="fas fa-bars"></i></button>
<nav>
    <ul>
        <li><a href = "/about" class = {active === "About" ? "active" : ""}>About</a></li>
        <li><a href = "/events" class = {active === "Events" ? "active" : ""}>Events</a></li>
        <li><a href = "/merch" class = {active === "Merch" ? "active" : ""}>Merch</a></li>
        <li><a href = "/schedule" class = {active === "Schedule" ? "active" : ""}>Schedule</a></li>
        <li><a href = "/team" class = {active === "Team" ? "active" : ""}>Team</a></li>
    </ul>
</nav>

<style>

button {
    display: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-size: 1.5rem;
    background-color: black; 
    height: 5rem;
    z-index: 5;
}

img {
    position: absolute;
    top: 0;
    left: 1rem;
    height: 5rem;
    z-index: 10;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1rem;
}

li {
    list-style: none;
    padding-left: 1rem;
}

li > a {
    color: white;
    transition: all ease-in-out 100ms;
}

li > a:hover {
    color: yellow;
}

.active {
    color: hsl(34, 100%, 80%) !important;
}

@media (max-width: 610px) {
    button {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        background-color: transparent;
        color: white;
        border: none;
        padding: 0;
        font-size: 2rem;
        z-index: 10;
    }
    nav {
        justify-content: center;
        position: fixed;
        height: 100dvh;
        width: 100%;
        top: -1000px;
        left: 0;
        transition: 100ms ease-in-out;
    }
    nav[data-visible="true"] {
        top: 0;
        height: 100dvh;
    }

    ul {
        flex-direction: column;
        padding-right: 0;
    }

    li {
        padding-left: 0;
    }
}
</style>

<script>
let visible = false;
const navToggleBtn = document.querySelector("button")
const navBar = document.querySelector("nav");

navToggleBtn.addEventListener("click", () => {
    !visible ?  navToggleBtn.innerHTML = "<i class='fa-solid fa-xmark'></i>" : navToggleBtn.innerHTML = '<i class="fas fa-bars"></i>';
    visible = !visible;
    navBar.setAttribute("data-visible", visible ? "true" : "false")
})
</script>